[submodule "nics/corundum"]
	path = nics/corundum
	url = https://github.com/lemon-gith/corundum.git
[submodule "nics/tunic"]
	path = nics/tunic
	url = https://github.com/lemon-gith/tunic.git
[submodule "nics/corunsim/corundum"]
	path = nics/corunsim/corundum
	url = https://github.com/corundum/corundum.git
